{% extends "base.html" %}

{% block title %}Status de Cliente - {{ client_name }}{% endblock %}

{% block sidebar %}
    {% include "partials/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Status de {{ client_name }}</h1>
    <div class="content-grid">
        {% include "partials/_charts.html" %}
        {% include "partials/_status_table.html" %}
        {% include "partials/_update_assessment_table.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/update_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table_filters.js') }}"></script>
{% endblock %}
